*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	background-color: #230C33;
}

.container {
	height: 100%;
	width: 70rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap:10px;
	grid-template-columns: 1fr 1fr 1fr;
}
